@use "@styles" as *;

.signin {
    footer {
        @include space($type: v, $size: 3.5rem);
    }

    form {
        @include space($type: v, $size: 1.5rem);

        a {
            margin: 0.25rem 0 0 auto;
            width: 100%;
            justify-content: flex-end;
            color: var(--blue--100);

            @include font($f: inter, $s: base, $w: bold);
        }
    }
}

.verify-email {
    b {
        @include font($f: inter, $s: lg, $w: bold);
    }

    footer div {
        @include flex;
        gap: 1rem;
    }

    &__input {
        border-radius: 0.75rem;
        border: 0.0625rem solid var(--black--300);
        text-align: center;

        @include equal(4rem);
        @include font($f: ubuntu, $s: xl, $w: semibold);

        &:focus {
            border: 0.0625rem solid var(--blue--100);
        }

        &:disabled {
            background-color: var(--blue--200);
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
        }
    }
}

.reset-password {
    i {
        margin-inline: auto;
        @include equal(6.25rem);
    }
}

.signup {
    max-height: 80vh;
    overflow: hidden;

    footer {
        overflow: auto;
        height: 70vh;
        padding-bottom: 4%;

        @extend %scroll-bar;
    }

    form {
        margin-bottom: 1.5rem;
    }

    &__logo {
        i {
            @include equal(2.25rem);
        }

        label {
            display: inline-block;
            margin-bottom: 0.5rem;
            text-transform: capitalize;

            @include font($f: inter, $s: base, $w: regular);
        }
    }

    &__dropzone {
        p {
            @include font($f: inter, $s: base, $w: regular);

            span {
                color: var(--blue--100);
                cursor: pointer;
                font-weight: bold;
            }
        }

        > span {
            color: var(--blue--700);
            @include font($f: poppins, $s: xs, $w: regular);
        }
    }

    &__preview {
        img {
            object-fit: contain;
        }
    }

    &__dropzone,
    &__preview {
        border-radius: 0.75rem;
        border: 1px dashed var(--black--400);
        gap: 1rem;
        height: 8.5rem;
        position: relative;
        width: 15.5rem;

        @include flex($d: column);
    }
}

.signin,
.signup,
.verify-email {
    footer {
        > div {
            gap: 0.5rem;
            @include flex;

            > * {
                letter-spacing: 0.125rem;
            }

            span {
                @include font($f: ubuntu, $s: base, $w: regular);
            }

            a {
                color: var(--blue--100);
                @include font($f: ubuntu, $s: base, $w: bold);
            }
        }
    }
}

.forgot-password,
.reset-password,
.signin,
.signup,
.verify-email {
    &__wrapper {
        @include space($type: v, $size: 1.5rem);
    }

    header {
        @include space($type: v, $size: 0.75rem);

        h1 {
            @include font($f: inter, $s: xl, $w: bold);
        }

        span {
            display: inline-block;
            @include font($f: inter, $s: lg, $w: light);
        }
    }

    form {
        @include space($type: v, $size: 2rem);
    }

    &__button {
        border-radius: 0.5rem;
        border: 0.0625rem solid var(--blue--100);
        gap: 0.5rem;
        height: 3.5rem;
        width: 100%;

        @include flex;

        span {
            @include font($f: inter, $s: base, $w: medium);
        }
    }
}

.forgot-password,
.reset-password,
.verify-email {
    footer {
        @include space($type: v, $size: 2rem);
    }
}

.reset-password,
.signin,
.signup {
    &__input {
        gap: 0.5rem;
        @include flex($d: column, $a: flex-start);

        label {
            text-transform: capitalize;
            @include font($f: inter, $s: base, $w: regular);
        }

        input {
            border-radius: 0.5rem;
            border: 0.0625rem solid var(--blue--800);
            height: 3rem;
            padding: 1rem 1.5rem;
            width: 100%;

            @include font($f: inter, $s: base, $w: regular);

            &::placeholder {
                color: var(--blue--700);
            }
        }
    }
}
