@use "@styles" as *;

.signin {
    footer {
        @include space($type: v, $size: 3.5rem);

        > div {
            gap: 0.5rem;
            @include flex;

            > * {
                letter-spacing: 0.125rem;
            }

            span {
                @include font($f: ubuntu, $s: base, $w: normal);
            }

            a {
                color: var(--blue--100);
                @include font($f: ubuntu, $s: base, $w: bold);
            }
        }
    }

    form {
        @include space($type: v, $size: 1.5rem);

        a {
            margin: 0.25rem 0 0 auto;
            width: 100%;
            justify-content: flex-end;
            color: var(--blue--100);

            @include font($f: inter, $s: base, $w: bold);
        }
    }

    &__input {
        gap: 0.5rem;
        @include flex($d: column, $a: flex-start);

        label {
            text-transform: capitalize;
            @include font($f: inter, $s: base, $w: normal);
        }

        input {
            border-radius: 0.5rem;
            border: 0.0625rem solid var(--blue--800);
            height: 3rem;
            padding: 1rem 1.5rem;
            width: 100%;

            @include font($f: inter, $s: base, $w: normal);

            &::placeholder {
                color: var(--blue--700);
            }
        }
    }
}

.forgot-password {
    footer {
        @include space($type: v, $size: 2rem);
    }
}

.signin,
.forgot-password {
    &__wrapper {
        @include space($type: v, $size: 1.5rem);
    }

    header {
        @include space($type: v, $size: 0.75rem);

        h1 {
            @include font($f: inter, $s: xl, $w: bold);
        }

        span {
            display: inline-block;
            @include font($f: inter, $s: lg, $w: light);
        }
    }

    form {
        @include space($type: v, $size: 2rem);
    }

    &__button {
        border-radius: 0.5rem;
        border: 0.0625rem solid var(--blue--100);
        gap: 0.5rem;
        height: 3.5rem;
        width: 100%;

        @include flex;

        span {
            @include font($f: inter, $s: base, $w: medium);
        }
    }
}
