@use "@styles" as *;

.analytics {
    @extend %inner-layout;
    @extend %scroll-bar;

    &__header {
        @extend %dashboard-page-navigation-header;
    }

    &__navigation {
        @extend %dashboard-page-navigation;
        @include flex($j: flex-start);
    }
}

.analytics__filter {
    margin-block: 1rem;
    padding: 1rem 1.25rem;

    @extend %dropdown;
    @extend %white-background-with-radius;

    .dropdown-trigger {
        height: 3.5rem;
    }

    &-clear {
        border: 0.0625rem solid;
    }

    :is(&-clear, &-apply) {
        transition: scale 150ms cubic-bezier(1, 0.99, 1, 0.99);
        scale: 0.975;

        &:hover {
            scale: 1.025;
        }
    }
}

.analytics__table {
    margin-block: 1.5rem;
    @extend %white-background-with-radius;
}
