@use "sass:map";
@use "mixins" as *;
@use "variables" as *;

%section-container {
    @include r-w($type: min, $w: map.get($map: $desktop, $key: home-section-width));
}

%image-with-dark-overlay {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &::before {
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        left: 0;
        position: absolute;
        top: 0;

        @include equal;
    }
}

%scroll-bar {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 0.5rem;
    }

    &::-webkit-scrollbar:horizontal {
        height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
        border: 0.125rem solid var(--white--200);
        background-color: var(--blue--700);
    }

    &::-webkit-scrollbar-track {
        background-color: var(--blue--800);
        border-radius: 0.5rem;
    }
}

%no-scroll-bar {
    &::-webkit-scrollbar {
        display: none;
    }
}

%inner-layout {
    margin-inline: auto;
    @include r-w($type: min, $w: 76rem);
}

%dropdown {
    .dropdown-trigger {
        border-radius: 0.5rem;
        border: 0.0625rem solid var(--blue--800);
        gap: 0.75rem;
        height: 2rem;
    }
}

%dashboard-page-navigation-header {
    background-color: var(--white--500);
    padding-block: 0.5rem;
    position: sticky;
    top: 0;

    @include flex($j: space-between);
}

%dashboard-page-navigation {
    gap: 0.75rem;
    @include flex();

    a {
        border-radius: 2.5rem;
        border: 0.0625rem solid var(--black--100);
        height: 2.25rem;
        padding-inline: 0.75rem;
        transition: all 150ms ease-in-out;

        @include font($f: inter, $s: sm, $w: regular);

        &:hover:not(.active) {
            background-color: var(--white--500);
        }
    }
}
