@use "sass:map";
@use "mixins" as *;
@use "variables" as *;

%section-container {
    @include r-w($type: min, $w: map.get($map: $desktop, $key: home-section-width));
}

%image-with-dark-overlay {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &::before {
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        left: 0;
        position: absolute;
        top: 0;

        @include equal;
    }
}

%scroll-bar {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 0.5rem;
    }

    &::-webkit-scrollbar:horizontal {
        height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 0.125rem solid var(--white--100);
        background-color: var(--blue--200);
    }

    &::-webkit-scrollbar-track {
        background-color: var(--white--100);
        border-radius: 0.5rem;
    }
}

%inner-layout {
    margin-inline: auto;
    @include r-w($type: min, $w: 76rem);
}
