@use "extensions" as *;
@use "mixins" as *;

.authentication {
    &__wrapper {
        gap: 6.5rem;
        height: 100vh;
        padding: 1rem 1.5rem;

        @include flex();
    }

    &__left {
        background-image: url("/auth.jpeg");
        border-radius: 1.25rem;

        @extend %image-with-dark-overlay;
        @include equal;
        @include r-w($type: min, $p: 50%, $w: 44.5rem);

        span {
            height: 6.25rem;
            margin-inline: auto;
            margin-top: 17.75rem;
            position: relative;
            width: 21rem;
            z-index: 2;

            @include flex;
        }

        figure {
            bottom: -2rem;
            left: -2rem;
            position: absolute;
        }
    }

    &__right {
        @include flex;
        @include r-w($type: min, $p: 50%, $w: 32.75rem);

        > * {
            width: 100%;
        }
    }
}

.business-owner {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &__wrapper {
        background-color: var(--white--500);
        display: grid;
        grid-template-columns: 7rem 1fr;
        grid-template-rows: 5rem 1fr;

        @include equal;
    }

    &__navigation {
        background-color: var(--black--500);
        grid-column: 1/2;
        grid-row: 1/3;
        width: 100%;

        @include flex($j: flex-start, $d: column);

        > span {
            height: 1.5rem;
            margin: 3rem 0 3.25rem 0;
            width: 5.5rem;

            @include flex;
        }

        ul {
            @include space($type: v, $size: 0.5rem);
        }

        li {
            border-radius: 1rem;
            height: 4.5rem;
            width: 5.75rem;
            overflow: hidden;

            a {
                gap: 0.5rem;
                letter-spacing: 0.0625rem;

                @include equal;
                @include flex($d: column);
                @include font($f: ubuntu, $s: sm, $w: medium);
            }
        }
    }

    &__header {
        grid-column: 2/3;
        grid-row: 1/2;
        padding-inline: 3.5rem;

        @include flex($j: space-between);

        h1 {
            color: var(--blue--900);
            @include font($f: inter, $s: xl, $w: semibold);
        }
    }

    &__footer {
        grid-column: 2/3;
        grid-row: 2/3;
        padding-inline: 3.5rem;
        overflow: auto;

        @extend %no-scroll-bar;
    }
}
