@use "mixins" as *;
@use "variables" as *;
@use "extensions" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // background: rgba(139, 0, 0, 0.1) !important;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    @extend %scroll-bar;
}

button,
input {
    background-color: transparent;
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    font: inherit;
    text-decoration: none;

    @include flex;
}

img,
svg {
    @include equal;
}

i {
    @include flex;
}
