// this mixin will generate css variables from scss variables
// see "mixins.scss/generate-css-vars" for definition
@mixin generate-css-variables($map: null, $prefix: null) {
    @each $key, $value in $map {
        @if $prefix {
            --#{$prefix}-#{$key}: #{$value};
        } @else {
            --#{$key}: #{$value};
        }
    }
}

// scss variables
$colors: (
    "blue--100":
        rgba(
            $color: #0070ff,
            $alpha: 100%
        ),
    "blue--200":
        rgba(
            $color: #1b3c55,
            $alpha: 20%
        ),
    "blue--300":
        rgba(
            $color: #252b42,
            $alpha: 100%
        ),
    "blue--400":
        rgba(
            $color: #374754,
            $alpha: 100%
        ),
    "blue--500":
        rgba(
            $color: #33384e,
            $alpha: 100%
        ),
    "blue--600":
        rgba(
            $color: #b1d4ff,
            $alpha: 100%
        ),
    "blue--700":
        rgba(
            $color: #6e7191,
            $alpha: 100%
        ),
    "blue--800":
        rgba(
            $color: #d0d5dd,
            $alpha: 100%
        ),
    "blue--900":
        rgba(
            $color: #101828,
            $alpha: 100%
        ),
    "black--100":
        rgba(
            $color: #000000,
            $alpha: 100%
        ),
    "black--200":
        rgba(
            $color: #060505,
            $alpha: 100%
        ),
    "black--300":
        rgba(
            $color: #868686,
            $alpha: 100%
        ),
    "black--400":
        rgba(
            $color: #e8e9ea,
            $alpha: 100%
        ),
    "black--500":
        rgba(
            $color: #111111,
            $alpha: 100%
        ),
    "white--100":
        rgba(
            $color: #ffffff,
            $alpha: 100%
        ),
    "white--200":
        rgba(
            $color: #d9d9d9,
            $alpha: 100%
        ),
    "white--300":
        rgba(
            $color: #f4f4f4,
            $alpha: 100%
        ),
    "white--400":
        rgba(
            $color: #f8f9fa,
            $alpha: 100%
        ),
    "white--500":
        rgba(
            $color: #f0f0f0,
            $alpha: 100%
        ),
    "orange--100":
        rgba(
            $color: #ffcc99,
            $alpha: 100%
        )
);

// breakpoints
$desktop: (
    "screen-width": 90rem,
    "home-section-width": 77.5rem
);

// fonts
$fw: (
    // font-weight
    "thin": 100,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
    "black": 900
);

$fz: (
    "xs": 0.75rem,
    "sm": 0.875rem,
    "base": 1rem,
    "lg": 1.125rem,
    "xl": 1.25rem,
    "xxl": 3.25rem
);

$ff: (
    "sans": (
        "DM Sans",
        sans-serif
    ),
    "poppins": (
        "Poppins",
        sans-serif
    ),
    "inter": (
        "Inter",
        sans-serif
    ),
    "ubuntu": (
        "Ubuntu",
        sans-serif
    )
);

:root {
    @include generate-css-variables($map: $colors);
    @include generate-css-variables($map: $desktop, $prefix: desktop);
}
